@page "/projects/{ProjectId:int}"

@inherits CustomComponentBase

<PageTitle>Stuart Aitken - @(project?.Name ?? "Project")</PageTitle>

	<div>
		<MudIconButton OnClick="@(() => Navigation.NavigateTo(Routes.Pages.Projects))"
				   Icon="@Icons.Rounded.ArrowBack" Color="Color.Info" />


		.. / <MudLink Href="@(Routes.Pages.Projects)" Color="Color.Default">Projects</MudLink> / @(project?.Name ?? "Loading...")

	@if (this.AppStateContainer.IsAdmin)
	{
		<MudButton Variant="Variant.Filled"
			   Style="@($"background-color:{Colors.Blue.Default};color:{Colors.Grey.Lighten5};margin:10px;float:right")"
			   Size="Size.Small"
			   OnClick="@(() => this.Navigation.NavigateTo($"{Routes.Pages.EditProject}/{ProjectId}"))">
			Edit
		</MudButton>
	}
</div>

<ProjectComponent Project="project" />

@code {
	[Parameter]
	public int ProjectId { get; set; }

	public Project project;

	protected override async Task OnParametersSetAsync()
	{
		await base.OnParametersSetAsync();

		try
		{
			var resp = await Http.GetFromJsonAsync<ApiResponse<Project>>($"{Routes.Api.Projects}{this.ProjectId}");

			if (resp == null)
			{
				Snackbar.Add("Found no data!", Severity.Error);
			}
			else if(!resp.Ok)
			{
				throw new Exception(resp.Error);
			}
			else
			{
				project = resp.Data;
				this.StateHasChanged();
			}
		}
		catch (Exception e)
		{
			Snackbar.Add(e.Message, Severity.Error);
		}

	}
}
