@inherits LayoutComponentBase
@inject NavigationManager Navigation

<MudLayout Style="@($"background-color:{Colors.Yellow.Default}")">
	<MudAppBar Style="@($"background-color:{Colors.Yellow.Accent4}")">
		<MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Default" Style="@($"background-color:{Colors.Blue.Default}")" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
		
		<MudHidden Breakpoint="Breakpoint.SmAndDown">
			<div class="site-title" style="@($"color:{Colors.Grey.Darken1}")">
				@Constants.SiteName
			</div>
		</MudHidden>
		
		<MudContainer MaxWidth="MaxWidth.Large">
			<CustomAppBarButton Icon="@Icons.Material.Filled.Home" Page="@Routes.Pages.Index" Tooltip="/home" />
			<CustomAppBarButton Icon="@Icons.Material.Filled.Dns" Page="@Routes.Pages.Projects" />
			<CustomAppBarButton Icon="@Icons.Material.Filled.DocumentScanner" Page="@Routes.Pages.CV" />
		</MudContainer>
		@*<CustomAppBarButton Icon="@Icons.Material.Filled.DocumentScanner" Color="Color.Secondary" Edge="Edge.False" Page="@(Routes.Pages.Projects)" />*@
		<MudSpacer />
		@*<MudNavLink Href="@Routes.Pages.Swagger" Target="_blank" Match="NavLinkMatch.Prefix">Swagger API</MudNavLink>*@
	</MudAppBar>
	<MudDrawer @bind-Open="@_drawerOpen" Style="@($"background-color:{Colors.Yellow.Accent4}")">
		<NavMenu />
	</MudDrawer>
	<MudMainContent>
		<MudContainer MaxWidth="MaxWidth.Large" Style="padding-top:1rem;min-height:100%">
			<MudPaper Style="@($"background-color:{Colors.Yellow.Accent1};padding:1rem")">
				@Body
			</MudPaper>
		</MudContainer>
	</MudMainContent>
</MudLayout>

@code {
	bool _drawerOpen = false;

	void DrawerToggle()
	{
		_drawerOpen = !_drawerOpen;
	}
}


<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />