@inherits CustomComponentBase

@if (Project == null)
{
	<MudProgressCircular Indeterminate=true Color="Color.Primary" />
}
else
{
	<div>
		<MudCarousel Class="project-carousel"
				 ShowArrows="true"
				 ShowBullets="true"
				 Style="@($"background-color:{Colors.Yellow.Default}")"
				 EnableSwipeGesture="true"
				 AutoCycle="false"
				 TData="object">
			@foreach (var img in Project.Images.OrderByDescending(i => i.PrimaryImage == 1).ToList())
			{
				<MudCarouselItem Transition="Transition.Fade" Color="@Color.Default">
					<div class="d-flex text-center carousel-image">
						<MudImage Fluid
						  Src="@($"/{Routes.Api.ProjectImage_AsObject}{img.ID}")"
						  ObjectFit="ObjectFit.Contain"
						  ObjectPosition="ObjectPosition.Center" />
					</div>
				</MudCarouselItem>
			}
		</MudCarousel>

		<ProjectInfoSection Project="Project" />

		<div class="project-description">
			<div class="project-description-title">
				<h1>@Project.Name</h1>
			</div>
			@((MarkupString)(Project.Description ?? ""))
		</div>
	</div>
}

@code {
	[Parameter]
	public Project Project { get; set; }
}
